<div class="row g-0 position-relative">
  <div class="img-cover position-absolute h-100 w-100"></div>
    <%= image_tag 'posts/cake.jpg', class: "img-fluid cover"%>
    <div class="w-100 h-100 position-relative img-cover">
      <div class="position-absolute img-text">
        <a href="#" class="text-decoration-none"><h1 class="text-warning fw-bold ">Lorem Ipsun</h1></a>
        <p class="text-light"><%= truncate(Category.first.recipes.first.content, length: 250, separator: ' ') %></p>
        <%= link_to "Read Mode",  %>
      </div>
    </div>
</div>

<div class="row g-0">
  <div class="col" style="background-color: aliceblue">Col 1</div>
  <div class="col" style="background-color: blue">Col 2</div>
  <di2v class="col" style="background-color: red">Col 3</di2v>
  <di2v class="col" style="background-color: green">Col 4</di2v>
</div>
<div class="row g-0">
  <div class="col" style="background-color: aliceblue">Col 1</div>
  <div class="col" style="background-color: blue">Col 2</div>
  <di2v class="col" style="background-color: red">Col 3</di2v>
  <di2v class="col" style="background-color: green">Col 4</di2v>
</div>