// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cover {
  object-fit: cover;
  max-height: 90vh;
  object-position: top;
}

.img-text {
  bottom: 5vh;
  left:  5vh;
}

.img-cover {
  background: linear-gradient(to top, black, transparent);
  z-index: 2;
  background-size: 100% 100%;
}